/* styles.css */
/* QPushButton {
    background-color: #4CAF50;
    border: 2px solid #388E3C;
    color: white;
    padding: 2px;
}
QPushButton:hover {
    background-color: #45A049;
}
QPushButton:pressed {
    background-color: #0d4110;
}

QComboBox {
    border: 1px solid black;
    padding: 2px;
} */